@import "variables";
@import "mixins";

.content{
  background: url("../img/back-main.jpg");
  background-size: cover;
  width: 96%;
  /*height: 100%;*/
  text-align: center;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
}
.content__head{
  padding: 30px 0 0;
  text-align: center;
  font: 90px/90px $latothin ;
  text-transform: uppercase;
  order: 5;
}
.content__upload-message{
  font: 30px/30px $latothin;
  padding: 30px 0 0;
  display: inline-block;
  margin: 0 auto;
}
.content__input{
  @include hidden;
}
.content__upload-button{
  background: #0023ff;
  border: none;
  font: 18px/18px $latoblack;
  text-transform: uppercase;
  color: #ffffff;
  padding: 21px 52px;
  border-radius: 25px;
  margin-left: 10px;
}
.content__canvas{
  max-width: 80%;
  order: 10;
  margin: 30px auto;
}
.content__wrapper{
  order: 100;
  margin-bottom: 40px;
}