@import "variables";
.error{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font: 18px/18px $latothin;
  color: red;
  background: white;
  width: 350px;
  padding: 15px;
  border-radius: 25px;
  top: 160px;
}