@font-face {
  font-family: 'latoblack';
  src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
  url('../fonts/lato-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latothin';
  src: url('../fonts/lato-thin-webfont.woff2') format('woff2'),
  url('../fonts/lato-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}